@model IEnumerable<PATIENT_PORTAL.Models.PATIENT_HealthRecord>

@{
    ViewBag.Title = "Health Records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card border-dark mb-3" style="max-width: 100%">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h1>Health Records</h1>
        <a href="@Url.Action("Create", "PATIENT_HealthRecord")" class="btn btn-success">
            <i class="fa fa-plus"></i> Create New
        </a>
    </div>
    <div class="card-body">
        <table id="patientsTable" class="table table-hover table-bordered table-responsive">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CaseInfoId)</th>
                    <th>@Html.DisplayNameFor(model => model.VitalSignsId)</th>
                    <th>@Html.DisplayNameFor(model => model.BMI_Id)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CaseInfoId)</td>
                        <td>@Html.DisplayFor(modelItem => item.VitalSignsId)</td>
                        <td>@Html.DisplayFor(modelItem => item.BMI_Id)</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="@Url.Action("Edit", "PATIENT_HealthRecord", new { id = item.Id })">Edit</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Details", "PATIENT_HealthRecord", new { id = item.Id })">Details</a></li>
                                </ul>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>